<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.robbins.raspberry.pi.scheduling" />

    <bean name="playSoundJob" class="org.robbins.raspberry.pi.scheduling.PlaySoundJob" />

    <bean name="autowiringSpringBeanJobFactory" class="org.robbins.raspberry.pi.scheduling.AutowiringSpringBeanJobFactory" />

    <bean name="playSoundJobFactory" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="org.robbins.raspberry.pi.scheduling.PlaySoundJob"/>
    </bean>

    <bean name="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory" ref="autowiringSpringBeanJobFactory" />
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>
