<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{20} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.robbins" level="debug" />
    <logger name="org.springframework" level="info" />
    <logger name="org.springsource" level="info" />
    <logger name="org.springframework.jdbc" level="info" />
    <logger name="org.springframework.scheduling.quartz" level="info" />
    <logger name="org.quartz" level="info" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
